/* App.css */
.sidebar {
  z-index: 20; /* Memastikan sidebar di atas header */
}

.header {
  width: calc(100% - 40px); /* Sesuaikan lebar header sesuai dengan sidebar yang diperluas */
  z-index: 10; /* Lebih rendah dari sidebar untuk mencegah overlap */
  transition: width 300ms ease; /* Transisi yang halus ketika sidebar diperluas/diperkecil */
}

/* Sesuaikan lebar header saat sidebar diperkecil */
.header.collapsed {
  width: calc(100% - 16px);
}
